{% extends "base.html" %}
{% block content %}

<hr />

{% if attribs.has_attribute('jpegPhoto') %}
<br />
<img src="data:image/jpeg;base64,{{ attribs.get_attr_values('jpegPhoto')[0] }}" />
<br />
{% endif %}

{% set attribName = request.form.attrib %}
{% if request.form.attrib in navItems['friendlyAttribs'] %}
    {% set attribName = navItems['friendlyAttribs'][request.form.attrib] %}
{% endif %}

<span class="attrib_name">Edit {{ attribName }}</span>
<span class="ldapWord">({{ request.form.attrib }})</span>
<br />

<form method="post" enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    Image formats:
    {% for extension in extensions %}
        {{ extension }}
    {% endfor %}
    <br />
    <br />
    <input type="file" name="file">

    <input class="btn btn-default" type="submit" value="Upload">
    <a href="/index/{{ navItems['currentDN'] }}" class="button">Cancel</a>
</form>

{% endblock %}
