{% extends "base.html" %}
{% block content %}

    {% if description %}
        <span style="font-size:1em">Description</span>  <a href="/edit/{{ navItems['currentDN'] }}?attrib=description">edit</a><br />
        {{ description }}<br />
    {% endif %}

<hr />
<span class="attrib_name">Members</span><br />

<form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    {% for user in users %}
        {% if user[1] == 1 %}
        <input type='checkbox' checked=checked name="{{ user[0] }}" value="{{ user[0] }}" />{{ user[0] }}
        {% else %}
        <input type='checkbox' name="{{ user[0] }}" value="{{ user[0] }}" />{{ user[0] }}
        {% endif %}
        <br />
    {% endfor %}
    
    <input type="text" name="extra"  placeholder="{{ session['baseDN'] }}" /> Add member
    <span class="ldapWord">(dn)</span>
    <br />
    
    <input class="btn btn-default" type="submit" value="Save">
    <a href="/index/{{ navItems['currentDN'] }}" class="button">Cancel</a>
</form>

{% endblock %}
