{% extends "base.html" %}
{% block content %}

<hr />

{% set attribName = request.form.attrib %}
{% if request.form.attrib in navItems['friendlyAttribs'] %}
    {% set attribName = navItems['friendlyAttribs'][request.form.attrib] %}
{% endif %}

<span class="attrib_name">Edit {{ attribName }}</span>
<span class="ldapWord">({{ request.form.attrib }})</span>
<br />

<form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <input type="hidden" name="attrib" value="{{ request.form.attrib }}">
    
    {% if request.form.attrib == "userPassword" %}
        <input type="password" name="value" value="">
    {% elif request.form.attrib == "description" %}
        <textarea name="value" style="width:100%">{{ request.form.value[0] }}</textarea>
        <br />
    {% else %}
        <input type="text" name="value" value="{{ request.form.value[0] }}">
    {% endif %}
     
    <input class="btn btn-default" type="submit" value="Save">
    <a href="/index/{{ navItems['currentDN'] }}" class="button">Cancel</a>
</form>

{% endblock %}
